<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
<h1>Add Student</h1>

<form action="#" th:action="@{/teacher-route/add-student}" th:object="${student}" method="POST">

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}">

    <label for="groupId">University Group ID:</label>
    <select id="groupId" th:field="*{group.groupId}">
        <option th:each="groupId : ${groupIDs}" th:value="${groupId}" th:text="${groupId}"></option>
    </select>


    <button type="submit">Save</button>
</form>
</body>
</html>
