<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">Update Group</h1>

    <form action="#" th:action="@{/admin-route/update-group}" method="POST">
        <div class="form-group">
            <label for="groupId">Group ID:</label>
            <input type="text" id="groupId" name="groupId" th:value="${group.getGroupId()}" class="form-control" readonly>
        </div>

        <div class="form-group">
            <label for="groupName">Group Name:</label>
            <input type="text" id="groupName" name="groupName" th:value="${group.getGroupName()}" class="form-control">
        </div>

        <div class="form-group">
            <label for="teacherName">Teacher Full Name:</label>
            <input type="text" id="teacherName" name="teacherName" th:value="${teacher.getFirstName() + ' ' + teacher.getLastName()}" class="form-control" readonly>
        </div>

        <div class="form-group">
            <label for="teacher">Teacher:</label>
            <select id="teacher" name="teacher" class="form-control">
                <option value="">Select a Teacher</option>
                <option th:each="teacher : ${teacherList}" th:value="${teacher.id}" th:text="${teacher.firstName + ' ' + teacher.lastName}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <div class="mb-3" style="margin-top: 10px;">
        <a type="button" class="btn btn-danger" href="/group">Cancel</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
