<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<h1 class="text-center">Update User</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <form action="#" th:action="@{/student-route/update-user-email}" method="POST">
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" name="id" class="form-control" id="id" th:value="${user.getId()}"
                 readonly>
        </div>
        <div class="form-group">
          <label for="email">User Email</label>
          <input type="text" name="email" class="form-control" id="email"
                 th:value="${user.getEmail()}" readonly>
        </div>
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" name="userName" class="form-control" id="userName"
                 th:value="${user.getUserName()}" readonly>
        </div>
        <div class="form-group">
          <label for="userRole">User Role</label>
          <input type="text" name="userRole" class="form-control" id="userRole"
                 th:value="${user.getRoles().getRoleName()}" readonly>
        </div>
        <br>
        <br>
        <br>
        <div class="form-group">
          <label for="password">New User Password: </label>
          <input type="password" name="password" class="form-control" id="password"
                 th:value="${user.getPassword()}">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>

    </div>
  </div>
  <div class="mb-3" style="margin-top: 10px;">
    <a type="button" class="btn btn-primary" href="/student-route">Cancel</a>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
