<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reassign Student</title>
</head>
<body>
<h1>Reassign Student</h1>

<form action="#" th:action="@{/admin-route/update-student}" th:object="${student}" method="POST">
  <input th:field="*{studentId}" readonly/>

  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{firstName}" readonly/>

  <label for="surname">Surname:</label>
  <input type="text" id="surname" th:field="*{lastName}" readonly/>

  <label for="groupName">Group Name:</label>
  <input type="text" id="groupName" th:field="*{group.groupName}" readonly/>


  <label for="groups">Group:</label>
  <select id="groups" name="groups">
    <option th:each="group : ${groupList}" th:value="${group.groupId}" th:text="${group.groupName}" th:field="*{group.groupName}"></option>
  </select>

  <input type="submit" value="Save" />
</form>

<div class="mb-3">
  <a type="button" class="btn btn-primary" href="/student">Cancel</a>
</div>
</body>
</html>
