<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Timetable</title>
</head>
<body>
<h1>Edit Timetable</h1>

<form action="#" th:action="@{/admin-route/update-timetable}" method="POST">
  <input th:field="${timetable.timetableId}"> <br>
<!--  <input type="hidden" th:field="${timetable.}">-->
<!--  <div>-->
<!--    <input th:each="subject : ${timetable.getSubjectList()}" th:value="${subject.getSubjectName()}" readonly/>-->
<!--    <br>-->
<!--  </div>-->

  <table>
    <thead>
    <tr>
      <th>Subject ID</th>
      <th>Subject Name</th>
      <th>Subject Manual</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subject : ${timetable.getSubjectList()}">
      <td th:text="${subject.subjectId}"></td>
      <td th:text="${subject.subjectName}"></td>
      <td th:text="${subject.subjectManual}"></td>
    </tr>
    </tbody>
  </table>

  <div>
    <label for="subjects">Subject:</label>
    <select name="subjects" id="subjects" multiple>
      <option th:each="subject : ${subjectList}" th:value="${subject.getSubjectId()}" th:text="${subject.getSubjectName()}" ></option>
    </select>

  </div>


  <input type="submit" value="Save">
</form>

<div class="mb-3">
  <a type="button" class="btn btn-primary" href="/admin-route">Cancel</a>
</div>
</div>
</body>
</html>
