<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Timetables</title>
</head>
<body>
<h1>Timetables</h1>
<p>
    <a class="home__link" sec:authorize="hasAnyRole('ADMIN')" href="/admin-route">Return Home</a>
    <a class="home__link" sec:authorize="hasAnyRole('STUDENT')" href="/student-route">Return Home</a>
    <a class="home__link" sec:authorize="hasAnyRole('TEACHER')" href="/teacher-route">Return Home</a>
</p>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>University Group</th>
        <th>Subjects</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timetable : ${timetableList}">
        <td th:text="${timetable.timetableId}"></td>
        <td th:text="${timetable.universityGroup.groupName}"></td>
        <td>
            <ul>
                <li th:each="subject : ${timetable.subjectList}" th:text="${subject.subjectName}"></li>
            </ul>
        </td>

        <td sec:authorize="hasAnyRole('ADMIN')">
            <form action="#" th:action="@{'/admin-route/edit-timetable/' + ${timetable.timetableId}}" method="GET">
                <button type="submit">Edit Timetable</button>
            </form>
        </td>
        <td sec:authorize="hasAnyRole('ADMIN')">
            <form action="#"  th:action="@{'/admin-route/delete-timetable/' + ${timetable.timetableId}}" th:method="POST">
                <button type="submit">Delete Timetable</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>