<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Timetables</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>.table {border: none;}  .table thead th {border: none;} </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:flex; justify-content: space-between">
    <ul class="navbar-nav">
        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
            <a class="nav-link" th:href="@{/admin-route}">
                <img style="width: 25px; height: 25px;"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Eucalyp-Deus_University.png/1200px-Eucalyp-Deus_University.png?20200331181003"
                     alt="logo">
            </a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('TEACHER')">
            <a class="nav-link" th:href="@{/teacher-route}">
                <img style="width: 25px; height: 25px;"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Eucalyp-Deus_University.png/1200px-Eucalyp-Deus_University.png?20200331181003"
                     alt="logo">
            </a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('STUDENT')">
            <a class="nav-link" th:href="@{/student-route}">
                <img style="width: 25px; height: 25px;"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Eucalyp-Deus_University.png/1200px-Eucalyp-Deus_University.png?20200331181003"
                     alt="logo">
            </a>
        </li>


        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'TEACHER')">
            <a class="nav-link" th:href="@{/student}">Students Page</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STUDENT', 'TEACHER')">
            <a class="nav-link" th:href="@{/subject}">Subjects Page</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STUDENT')">
            <a class="nav-link" th:href="@{/teacher}">Teachers Page</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'TEACHER')">
            <a class="nav-link" th:href="@{/group}">Groups Page</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STUDENT', 'TEACHER')">
            <a class="nav-link" th:href="@{/timetable}">Timetables Page</a>
        </li>
    </ul>

    <a type="button" href="logout" class="btn btn-primary">Logout</a>
</nav>
<h1>Timetables</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>University Group</th>
        <th>Subjects</th>
        <th sec:authorize="hasAnyRole('ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timetable : ${timetableList}">
        <td th:text="${timetable.timetableId}"></td>
        <td th:text="${timetable.universityGroup.groupName}"></td>
        <td>
            <ul>
                <li th:each="subject : ${timetable.subjectList}" th:text="${subject.subjectName}"></li>
            </ul>
        </td>

        <td sec:authorize="hasAnyRole('ADMIN')">
            <form action="#" th:action="@{'/admin-route/edit-timetable/' + ${timetable.timetableId}}" method="GET">
                <button type="submit" class="btn btn-primary">Edit Timetable</button>
            </form>
        </td>
        <td sec:authorize="hasAnyRole('ADMIN')">
            <form action="#" th:action="@{'/admin-route/delete-timetable/' + ${timetable.timetableId}}"
                  th:method="POST">
                <button type="submit" class="btn btn-danger">Delete Timetable</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
